@inject IProductService ProductService

@if(ProductService.products ==null || ProductService.products.Count == 0)
{
    <span>Cargando Productos...</span>
}
else{

<ul class="list-unstyled">
    @foreach (var product in ProductService.products)
    {
         <li class="media my-3">
        <div class="mr-3">
                    <a href="/product//@product.Id">
                        <img class="img-fluid  shadow-sm img-thumbnail" width="400" height="500" src="@product.ImageUrl" alt="@product.Title">
            </a>
        </div>
        <div class="media-body">
            <a href="/product/@product.Id">
                <h4 class="mb-0">@product.Title</h4>
            </a>
            <p class="mb-1">@product.Description</p>
            <h5 class="text-success font-weight-bold">$@product.Price</h5>
        </div>
    </li>      
    }
</ul>
}
@code {
   
    protected override  async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();

    }
    

};



